# ============================================================
# ansible.cfg — for GitHub Actions Linux Runner
# ============================================================

[defaults]
inventory           = inventory.ini
host_key_checking   = False
retry_files_enabled = False
stdout_callback     = yaml
roles_path          = roles
transport           = winrm

[winrm]
operation_timeout_sec = 60
read_timeout_sec      = 70
